html, body { width:  100%; height:100%; margin:0; padding:0; /*font:11px Verdana, Arial, Helvetica*/}
* {padding:0; margin:0;  -moz-user-select: none;  -webkit-user-select: none; -webkit-user-drag: none;}

.dropdown {float:left; padding-left:5px; padding-top:0px;}
.dropdown dt {width:52px; padding:5px; font-weight:bold; cursor:pointer; background:url(images/header.gif)}
.dropdown dt:hover {background:url(images/header_over.gif)}
.dropdown dd {position:absolute; overflow:hidden; width:66px; display:none; background:#fff; z-index:200; opacity:0}
.dropdown ul {width:66px; list-style:none; border-top:none;  z-index:200; }
.dropdown li {display:inline;}
a.underline, a.underline:visited, a.underline:active {display:block; padding:5px; text-decoration:none; width:98px;}
a.underline:hover {color:#000;}
a.line, a.line:visited, a.line:active {display:block; padding:5px; text-decoration:none; width:98px}
a.line:hover {color:#000;}
a.chunline, a.chunline:visited, a.chunline:active {display:block; padding:5px; text-decoration:none; width:98px;}
a.chunline:hover {color:#000;}
a.chline, a.chline:visited, a.chline:active {display:block; padding:5px; text-decoration:none; width:98px}
a.chline:hover {color:#000;}

.overimage {  position:absolute; width:25px; height:60px; display:block; z-index:19; display:block; cursor:pointer; top: 0px; left: 0px; background-repeat: no-repeat; -moz-user-select: element;  -webkit-user-select: auto; -webkit-user-drag: element; }
/*.overimage {  position:absolute; width:25px; height:42px; display:block; z-index:19; display:block; cursor:pointer; top: 0px; left: 0px; background-repeat: no-repeat; -moz-user-select: element;  -webkit-user-select: auto; -webkit-user-drag: element; }*/
/*span#sp1 {background:url(images/AUVm.png); background-repeat: no-repeat; display:block; cursor:pointer;}
span#sp2 {background:url(images/AUVe.png); background-repeat: no-repeat;display:block; cursor:pointer;}
span#sp3 {background:url(images/AUVs.png); background-repeat: no-repeat;display:block; cursor:pointer;}
span#sp4 {width:21px; background:url(images/Diver.png);}
span#sp5 {background:url(images/ASV_delfim.png); width:21px;}*/

/*span#sp1 {background:url(images/AUVm.png); background-repeat: no-repeat; display:block;}
span#sp2 {background:url(images/AUVe.png); background-repeat: no-repeat;display:block;}
span#sp3 {background:url(images/charlie_small.png); background-repeat: no-repeat;display:block;width:35px;}
span#sp4 {background:url(images/g500Y_small.png); background-repeat: no-repeat;display:block;width:21px;}
span#sp5 {background:url(images/ASV_delfim.png); width:21px;}*/

.hideBarStyle {display:inline-table; background-color:#DDDDDD; width:10px; height:100%; text-align:center; font-weight:bold; vertical-align:bottom; }
div#divVisual  {
	position: absolute; 
	width:256px; 
	background: rgba(255, 255, 255, 1.0); 
	z-index: 10;
	border:1px solid #000000; 
	overflow: hidden;
	margin: auto;
	right: 0;
	visibility: hidden;
/*	margin: auto; 
	top:0%;
	bottom:0%;*/
	/*bottom:0;*/
}

#divVisual input{
	-moz-user-select: none;
	-webkit-user-select: none;
	/* this will work for QtWebKit in future */
	-webkit-user-drag: none
}
#divVisual input[type=text] {
  -moz-user-select: text;
  -webkit-user-select: text;
}

td#columnVisual {}

.resizable{
	width: 100%;
	height:100%;
}
textarea, input {
-moz-user-select: element;  -webkit-user-select: auto; -webkit-user-drag: element;
}
textarea#txt_vars { resize:vertical; height:250; max-height:500px; min-height:50px; border-style:none;border-color:Transparent; overflow:auto; }

.Block {display:inline-table; padding:5px; height:37px; width:65px;border:2px solid #117711;background-color:#FF0000;text-align:center; font:bold 15px Helvetica;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; }
.Block_V {display:inline-table; padding:5px; height:37px; width:65px; border:2px solid #FFFFFF; text-align:center; font:bold 15px Helvetica;cursor:pointer; background-repeat: no-repeat;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;}

p#Flag1{background:url(images/Vehicle1_Up.png);}
p#Flag2{background:url(images/Vehicle2_Up.png);}
p#Flag3{background:url(images/Vehicle3_Up.png);}


/*.LLeak {display:inline-table;padding:5px;width:65px;height:40px;border:2px solid #117711;background-color:#FF0000;text-align:center;}
.RTK {display:inline-table;padding:5px;width:65px;height:40px;border:2px solid #117711;background-color:#FF0000;text-align:center;}*/
.barbatterie {display:inline-table;vertical-align: middle; padding:4px;width:36px;height:36px;border:2px solid #666666;background-color:#FF0000;text-align:center; font:9px Verdana, Arial, Helvetica}

#tt {
/*	width: 100%;
	height: 100%;*/
/*	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;*/
    position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	
	padding: 5px 5px 5px 5px;
}

#placeholder {
    position: relative;
    display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	padding:0px 0px 0px 0px;
	min-height: 100px;
	height: 100%;
}
.wrapper {
  position: relative;
  display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	min-height: 100px;
	min-width: 100px;
	/*height: 99vh;*/
	/*background-color:  #BDBDBD;*/
	/*background-color:  #e3f2fd;*/
	background-color: #B5D3FF; /*maps*/
	/*border: 2px solid #000000;*/
}

.wrapper canvas {
	position: absolute;
	vertical-align: top;
	padding:0px 0px 0px 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
/*	top: 0;*/
	left: 0;
	/*bottom: 0;*/
	right: 0;
	/*border: 2px solid #000000;*/
}

/*#ctrMap{
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px ;
}*/

#canvas_back{
	position: absolute; /* to strech tt element*/
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}


#ctrMap{
	position: absolute; /* to strech tt element*/
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}


/*canvas#ctrMap, img#canvas_bakgroung{ display:block; margin:1em auto; border:1px solid black; }*/
